body {
	/*Background Related*/
	background-image: url("/images/pylz-works-ViI6qkoRfNA-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;	
}


#imgSrcList {
    max-height: 150px; 
    width: auto;
}


/* Overrides for Bootstrap Carousel */
/* -------------------------------- */

.carousel-item {
    width: 100%;
    height: 600px;
  }
  
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}