<!DOCTYPE html>
<!-- 
 * COMP303-001 Assignment 4
 * Due Date: Dec 06, 2020
 * Submitted: ??? ##, 2020
 * 301 041 132 : Trent Minia
 * 300 549 638 : Matthew Naruse
 -->
<html xmlns:th="http://thymeleaf.org">
	<head th:include="fragment :: header"/>
	<body class="container">
		<div th:replace="fragment :: navbar"></div>		
		<h1>Confirm Delete Booking</h1>
		<table class="table">
				<tr>
					<th>Movie Name</th>
					<td><p th:text="${booking.movieName}"/></td>
				</tr>
				<tr>
					<th>Purchase Date</th>
					<td><p th:text="${booking.purchaseDate}"/></td>
				</tr>
				<tr>
					<th>Viewing Date</th>
					<td><p th:text="${booking.viewingDate}"/></td>
				</tr>
				<tr>
					<th>Amount Paid</th>
					<td><p th:text="${booking.amountPaid}"/></td>
				</tr>
				<tr>
					<th>Venue</th>
					<td><p th:text="${booking.venue}"/></td>
				</tr>
				<tr>
					<th>Customer Name</th>
					<td><p th:text="${custName}"/></td>
				</tr>
			</table>
			<form action="#" th:action="@{/delete-booking/{bookId}(bookId=${booking.bookingId})}" method="POST">
				<input type="submit" class="btn btn-danger" value="Delete Booking"/>
			</form>
	</body>
		<div th:include="fragment :: scripts"></div>
</html>