<!DOCTYPE html>
<!-- 
 * COMP303-001 Assignment 4
 * Due Date: Dec 06, 2020
 * Submitted: ??? ##, 2020
 * 301 041 132 : Trent Minia
 * 300 549 638 : Matthew Naruse
 -->
<html xmlns:th="http://thymeleaf.org">
	<head th:include="fragment :: header"/>
	<body class="container">
		<div th:replace="fragment :: navbar"></div>	
		<h1>Register New Customer</h1>
		
		<form action="#" th:action="register" th:object="${Cust}" method="POST">
			<table class="table">
				<tr>
					<th><label for="Username">User Name</label></th>
					<td><input id="Username" th:field="*{Username}"/></td>
				</tr>
				<tr>
					<th><label for="Password">Password</label></th>
					<td><input type="password" id="Password" th:field="*{Password}"/></td>
				</tr>
				<tr>
					<th><label for="custName">Your Name</label></th>
					<td><input id="custName" th:field="*{custName}"/></td>
				</tr>
				<tr>
					<th><label for="address">Your Address</label></th>
					<td><input id="address" th:field="*{address}"/></td>
				</tr>
				<tr>
					<th><label for="city">City</label></th>
					<td><input id="city" th:field="*{city}"/></td>
				</tr>
				<tr>
					<th><label for="email">Email</label></th>
					<td><input id="email" th:field="*{email}"/></td>
				</tr>
				<tr>
					<th><label for="phoneNumber">Phone Number</label></th>
					<td><input id="phoneNumber" th:field="*{phoneNumber}"/></td>
				</tr>
			</table>
			<input type="submit"/>
		</form>
	</body>
		<div th:include="fragment :: scripts"></div>
</html>