<!DOCTYPE html>
<!-- 
 * COMP303-001 Assignment 4
 * Due Date: Dec 06, 2020
 * Submitted: ??? ##, 2020
 * 301 041 132 : Trent Minia
 * 300 549 638 : Matthew Naruse
 -->
<html xmlns:th="http://thymeleaf.org">
	<head th:include="fragment :: header"/>
	<body class="container">
		<div th:replace="fragment :: navbar"></div>
		<h1>All Movies</h1>

		<table id="movies" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<th></th>
				<th>Title</th>
				<th>Director</th>
				<th>Language</th>
				<th>Genre</th>
				<th>Description</th>
				<th>Rating</th>
				<th>Duration (minutes)</th>
			</thead>
			<tbody>
				<tr th:each="movie : ${movieList}">
					<td><img id="imgSrcList" th:src="${movie.imgSrc}"/></td>
					<td th:text="${movie.movieName}"/>
					<td th:text="${movie.movieDirector}"/>
					<td th:text="${movie.movieLanguage}"/>
					<td th:text="${movie.movieGenre}"/>
					<td th:text="${movie.movieBlurb}"/>
					<td th:text="${movie.movieRating}"/>
					<td th:text="${movie.Duration}"/>
				</tr>
			</tbody>
		</table>
	</body>
	<div th:include="fragment :: scripts"></div>
	<script type="text/javascript" src="js/movieTable.js"></script>
	<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
	
</html>